<a href="https://colab.research.google.com/github/RuchitaThombare/OER-Survey-Project-Data-Cleaning/blob/main/OER_Student_Survey_Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cleaning Student Surver File

Datasource at https://drive.google.com/file/d/1nFJHwDcHAEpi1XTeOrG6IwKZIGbIx7G7/view?usp=sharing

Import Data

In [173]:
import pandas as pd
url='https://drive.google.com/file/d/1nFJHwDcHAEpi1XTeOrG6IwKZIGbIx7G7/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)
#df.count()
#df has 207 count

Clean Data

In [174]:

# Remove rows where all values are missing
df.dropna(inplace = True, how='all')
df.describe()

#drop columns
to_drop = ['Status', 'IPAddress', 'Progress', 'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId', 'RecipientLastName', 'RecipientFirstName', 'ExternalReference', 'LocationLatitude', 'LocationLongitude', 'DistributionChannel', 'UserLanguage', 'QRecaptchaScore', 'QParticipantConsent']
df.drop(to_drop, inplace=True, axis=1)

# clean panther id coloumn
df['PantherID'] = df['PantherID'].str.replace('-', '')

# replace blanks or nan with 0
df = df.fillna(0)
#df.count()

#df has 207 values here

Replace Question 31-40  Answers with value 1 if correct else 0

In [175]:
#replace Q31 answers

def replace_answer(df, column, answer):
  df[column] = df[column].apply(lambda x: 1 if (x == answer or x == 1) else 0)
  #print(df[column])

#call function
replace_answer(df, 'Q31', 'Innovator')
replace_answer(df, 'Q32', 'Market size')
replace_answer(df, 'Q33', 'Desiring to take business risk for growth')
replace_answer(df, 'Q34', 'Design thinking')
replace_answer(df, 'Q35', 'Low supply, high demand	Innovation canvas')
replace_answer(df, 'Q36', 'Lean canvas')
replace_answer(df, 'Q37', 'Franchising')
replace_answer(df, 'Q38', 'Bank funding')
replace_answer(df, 'Q39', 'A serial entrepreneur is someone who starts multiple entrepreneurial ventures, while a social entrepreneur is someone who focuses on solving a problem')
replace_answer(df, 'Q40', 'Find the intersection between customer problem and your solution')

Add Pre test variable score

In [186]:
# add Pretest Variable Score to dataframe

column_list = ['Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40']
df['PretestVariableScore'] = df[column_list].sum(axis=1)

#Add Instructor Resource

### Read Entrpreneurial Ecosystem ENI csv
https://drive.google.com/file/d/1e6YB4-IGGN3C5Q2XSMCTXBFghB-XDZ_S/view?usp=sharing

In [190]:
url2='https://drive.google.com/file/d/1e6YB4-IGGN3C5Q2XSMCTXBFghB-XDZ_S/view?usp=sharing'
url2='https://drive.google.com/uc?id=' + url2.split('/')[-2]
df2 = pd.read_csv(url2)
#df2.count()
#count here is 244

Clean csv data

In [191]:
# Remove rows where all values are missing
df2.dropna(inplace = True, how='all')

#drop columns
to_drop = ['Status', 'IPAddress', 'Progress', 'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId', 'RecipientLastName', 'RecipientFirstName', 'ExternalReference', 'LocationLatitude', 'LocationLongitude', 'DistributionChannel', 'UserLanguage']
df2.drop(to_drop, inplace=True, axis=1)

# clean panther id coloumn
df2['PantherID'] = df2['PantherID'].str.replace('-', '')
df2 = df2.filter(['PantherID', 'Instructor', 'ParticipantEmail'])

# replace blanks or nan with 0
df2 = df2.fillna(0)

Merge df with Instructor Variable

In [192]:
#add Instructor variable to main file
df2 = df2[df2.PantherID != 0]
df3 = df.merge(df2, on=['PantherID'], how = 'left', indicator=True)
df3.count()

# Save Results
df3.to_csv('FinalClean.csv', sep=',', encoding='utf-8', index=False)